@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na Videoteku</h1>
    <p>Uz prijavu ovdje možete vršiti pregled filmova. Za prijavu kliknite ovdje: <a href="https://docs.microsoft.com/aspnet/core">Log in</a>.</p>
</div>
